:root {
  /* Primary colors */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  /* Neutral colors */
  --grey-500: hsl(234, 12%, 34%);
  --grey-400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--white);
  margin: 0;
  font-size: 15px;
}

.container {
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
}

.card {
  box-shadow: 0px 26px 25px -7px rgba(0,0,0,0.1);
  padding: 40px;
  background-color: var(--white);
  border-radius: 5px;
  margin-bottom: 40px;
  border: 0px solid transparent;
  border-top-width: 5px;
}

.card h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--grey-500);
  font-weight: 600;
}

.card p {
  color: var(--grey-400);
  font-weight: 400;
  margin-bottom: 40px;
  margin-top: 0;
}

.icon {
 display: flex;
 justify-content: flex-end;
 margin-bottom: 10px;
}

.supervisor {
  border-top-color: var(--cyan);
}

.team-builder {
  border-top-color: var(--red)
}

.karma {
  border-top-color: var(--orange)
}

.calculator {
  border-top-color: var(--blue)
}
